<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Island Simulation</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/scripts.js"></script>
</head>
<body>
<h1>Island Simulation</h1>
<form id="addPredatorForm">
    <label for="predatorType">Add Predator:</label>
    <select id="predatorType" name="predatorType">
        <option value="BEAR">Bear</option>
        <option value="BOA">Boa</option>
        <option value="EAGLE">Eagle</option>
        <option value="FOX">Fox</option>
        <option value="WOLF">Wolf</option>
    </select>
    <button id="addPredatorButton" type="button" onclick="addPredator()">Add Predator</button>
</form>

<form id="addHerbivoreForm">
    <label for="herbivoreType">Add Herbivore:</label>
    <select id="herbivoreType" name="herbivoreType">
        <option value="BOAR">Boar</option>
        <option value="BUFFALO">Buffalo</option>
        <option value="CATERPILLAR">Caterpillar</option>
        <option value="DEER">Deer</option>
        <option value="DUCK">Duck</option>
        <option value="GOAT">Goat</option>
        <option value="HORSE">Horse</option>
        <option value="MOUSE">Mouse</option>
        <option value="RABBIT">Rabbit</option>
        <option value="SHEEP">Sheep</option>
    </select>
    <button id="addHerbivoreButton" type="button" onclick="addHerbivore()">Add Herbivore</button>
</form>

<div class="island">
    <div th:each="row, rowStat : ${island}">
        <div th:each="cell, cellStat : ${row}" class="cell" th:text="${cell}"
             th:data-row="${rowStat.index}" th:data-col="${cellStat.index}"></div>
    </div>
</div>

<!-- Модальное окно -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p id="modal-content-text"></p>
    </div>
</div>
</body>
</html>
